$foreground: #DFE9F6;
$background: #00000B;
$cursor: #7F91CD;

$color0: #00000D;
$color1: #8C97A3;
$color2: #8C97A3;
$color3: #C9D8EA;
$color4: #C9D8EA;
$color5: #8C97A3;
$color6: #C9D8EA;
$color7: #C9D8EA;
$color8: #8C97A3;
$color9: #8C97A3;
$color10: #8C97A3;
$color11: #C9D8EA;
$color12: #C9D8EA;
$color13: #8C97A3;
$color14: #C9D8EA;
$color15: #C9D8EA;
