* {
    /* base shades */
    bg0:            {{color0}};
    bg1:            {{background}};
    fg0:            {{color15}};

    /* softer accents */
    accent-color:   {{color4}};
    urgent-color:   {{color3}};
}
