* {
    /* base shades */
    bg0:            {{background}};
    bg1:            {{color0}};
    fg0:            {{foreground}};

    /* highlight accents */
    accent-color:   {{color7}};
    urgent-color:   {{color8}};
}
