/* Nemo - Wallust Generated Theme */
/* https://github.com/explosion-mental/wallust */

.nemo-window .sidebar {
    background-color: {{color0}};
}

.nemo-window .sidebar .view:not(:selected) {
    color: {{foreground}};
    background-color: transparent;
}

.nemo-window .sidebar .view:selected {
    background-color: {{color4}};
    color: {{background}};
}

.nemo-window .sidebar .view:hover {
    background-color: {{color2}};
}

.nemo-window .view {
    background-color: {{background}};
    color: {{foreground}};
}

.nemo-window .view:selected {
    background-color: {{color4}};
    color: {{background}};
}

.nemo-window .view:hover {
    background-color: {{color2}};
}

.nemo-window .primary-toolbar {
    background-color: {{color0}};
    color: {{foreground}};
    border-bottom: 1px solid {{color1}};
}

.nemo-window .primary-toolbar button {
    background-color: transparent;
    color: {{foreground}};
    border: 1px solid transparent;
}

.nemo-window .primary-toolbar button:hover {
    background-color: {{color2}};
    border-color: {{color1}};
}

.nemo-window .primary-toolbar button:checked {
    background-color: {{color4}};
    color: {{background}};
}

.nemo-window .path-bar button {
    background-color: transparent;
    color: {{foreground}};
    border: 1px solid transparent;
}

.nemo-window .path-bar button:hover {
    background-color: {{color2}};
    border-color: {{color1}};
}

.nemo-window .path-bar button:checked {
    background-color: {{color4}};
    color: {{background}};
}

.nemo-window .nemo-cluebar {
    background-color: {{color0}};
    color: {{foreground}};
    border-top: 1px solid {{color1}};
}

.nemo-window .nemo-inactive-pane .view {
    background-color: {{color1}};
}
