* {
    /* base shades */
    bg0:            #1E1F1D;
    bg1:            #494B47;
    fg0:            #E8EAEB;

    /* highlight accents */
    accent-color:   #366E8F;   /* pick a nice saturated tone */
    urgent-color:   #2C7373;   /* something attention-grabbing */
}
