* {
    /* base shades */
    bg0:            #1E1F1D;
    bg1:            #494B47;
    fg0:            #E8EAEB;

    /* highlight accents */
    accent-color:   #D6D9DB;
    urgent-color:   #969899;
}
